

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&display=swap');

// layout
$headerheight:5rem;
// Colors
$color1:#2D2E32;
$color2:#25262A;
$secondarycolor: gold;
$accent: #fff;
$activecolor:red;
$hovercolor: gold;
$textcolor:#D9D9D9;
$titlecolor: #fff;
$circlecolor:#28292D;


// fonts
$bodyfont:"PT Sans" ;
$titlefont: "PT Sans";
$h1_fontsize: 3rem;
$h2_fontsize: 1rem;
$normal_fontsize: 0.98rem;

// font weight
    $font-semi-bold: 60;
    $font-bold: 70;
// circle height and width
$bigh: 25rem;
$bigw: 25rem;

$smallh: 2rem;
$smallw: 2rem;

$doth: 0.5rem;
$dotw: 0.5rem;

