#works{
    grid-area: works;
    background-color: $color2;
     
    
    .textcontainer{
        @include flex();
        padding-top: 5rem;
        .textitem{
            @include flex2();
          width: 25%;
         h1{
            font-size : $h1_fontsize;
         }
         h3:first-child{
            margin-top: -20px;
         }
         b{
            color: $secondarycolor;
            font-family: Georgia, 'Times New Roman', Times, serif;
         }
        }
    }
    .samplecontainer{
        @include flex();
        padding-top: 5rem;
        // images in works page
        .w1{
            border:2px solid $color1;
            height: 22rem;
            width: 22rem;
             margin-bottom: 20px;
        }
        .work2{
            @include flex2();
        }

        .work1{
            @include flex2();
            h1{
                font-size:$h1_fontsize;
            }
            a{
                color: $secondarycolor;
                &:hover{
                    color: $activecolor;
                }
            }
    
          }
        }
      
    }
